In [103]:
#full clean dataset construction
import os
import pandas as pd
#importation of bTselem data
Bteselem_0011 = pd.read_csv("2000-2011_bteselem.csv")
Bteselem_1219 = pd.read_csv("2011-2020_bteselem.csv")


Bteselem_0011 = Bteselem_0011.rename(columns={"Date of event": "Date"})
Bteselem_1219 = Bteselem_1219.rename(columns={"Date of event_R": "Date"})

Bteselem_0011["Date"] = pd.to_datetime(Bteselem_0011["Date"])
Bteselem_1219["Date"] = pd.to_datetime(Bteselem_1219["Date"])

# --- unify key variable names across files ---
rename_0011 = {
    # fix spelling if you want consistency
    "occurence_R": "occurrence_R",            # recommended
}

rename_1219 = {
    "occurence_R": "occurrence_R",            # recommended
    "occurrence_pal_t_y": "occurrence_pal_t_y_R",  # align with 0011 naming
}

Bteselem_0011 = Bteselem_0011.rename(columns=rename_0011)
Bteselem_1219 = Bteselem_1219.rename(columns=rename_1219)

# --- drop time columns from 1219 (we'll rebuild later on df_master) ---
drop_time_cols = ["month_R", "year_R", "dow_R", "monthyear_R"]
Bteselem_1219 = Bteselem_1219.drop(columns=[c for c in drop_time_cols if c in Bteselem_1219.columns])


# --- parse date ---
Bteselem_0011["Date"] = pd.to_datetime(Bteselem_0011["Date"])
Bteselem_1219["Date"] = pd.to_datetime(Bteselem_1219["Date"])

# --- concat ---
Bteselem_0019 = pd.concat([Bteselem_0011, Bteselem_1219], ignore_index=True)

#rename variables according to the paper
bteselem_rename = {
    # occurrence & victims
    "occurrence_R": "occurrence",
    "occurrence_pal_R": "occurrence_pal",
    "victims_isr_R": "victims_isr",
    "victims_pal_R": "victims_pal",
    "lnvic_R": "lnvic",
    "lnvic_pal_R": "lnvic_pal",

    # conflict intensity
    "gaza_war_R": "high_intensity",
}

Bteselem_0019 = Bteselem_0019.rename(columns=bteselem_rename)




Bteselem_0019.shape
Bteselem_0019["Date"].min(), Bteselem_0019["Date"].max()
Bteselem_1219.head()

Bteselem_0011.columns
Bteselem_1219.columns

Bteselem_0019 = Bteselem_0019.rename(columns={
    "lnvic_t_y_R": "lnvic_t_y",
    "lnvic_pal_y_R": "lnvic_pal_y",
    "occurrence_t_y_R": "occurrence_t_y",
    "occurrence_pal_t_y_R": "occurrence_pal_t_y",

    "occurrence_1_R": "occurrence_1",
    "occurrence_2_7_R": "occurrence_2_7",
    "occurrence_8_14_R": "occurrence_8_14",

    "occurrence_pal_1_R": "occurrence_pal_1",
    "occurrence_pal_2_7_R": "occurrence_pal_2_7",
    "occurrence_pal_8_14_R": "occurrence_pal_8_14",
})

Bteselem_0019.head()

,Date,victims_isr,occurrence,victims_pal,occurrence_pal,lnvic,lnvic_pal,lnvic_t_y,lnvic_pal_y,occurrence_t_y,occurrence_pal_t_y,occurrence_1,occurrence_2_7,occurrence_8_14,occurrence_pal_1,occurrence_pal_2_7,occurrence_pal_8_14,high_intensity
0,2000-09-29,5.0,1.0,1.0,1.0,1.791759,0.693147,1.791759,0.693147,1,1,0,0,0,0,0,0,NaN
1,2000-09-30,11.0,1.0,0.0,0.0,2.484907,0.000000,2.833213,0.693147,1,1,1,0,0,1,0,0,NaN
2,2000-10-01,9.0,1.0,1.0,1.0,2.302585,0.693147,3.044522,0.693147,1,1,1,1,0,0,1,0,NaN
3,2000-10-02,11.0,1.0,2.0,1.0,2.484907,1.098612,3.044522,1.386294,1,1,1,1,0,1,1,0,NaN
4,2000-10-03,6.0,1.0,0.0,0.0,1.945910,0.000000,2.890372,1.098612,1,1,1,1,0,1,1,0,NaN

In [104]:
#importation of US TV News data
TV_news = pd.read_csv("vandy_daily_pressure_2000_2025_colonnes_clean.csv")
TV_news.head()

,Date,program_title,station,daily_woi,all_nonconf_min,daily_woi_nc,daily_woi_c,any_conflict_news,length_conflict_news,num_conflict_news
0,2000-01-03,ABC Evening News,ABC,5.166667,25.833333,5.166667,6.000000,1.0,1.833333,18.0
1,2000-01-03,CBS Evening News,CBS,5.500000,26.666667,5.500000,6.187500,1.0,1.833333,23.0
2,2000-01-04,ABC Evening News,ABC,5.833333,27.500000,5.833333,6.363636,1.0,0.333333,21.0
3,2000-01-04,CBS Evening News,CBS,6.333333,27.500000,6.333333,6.909091,1.0,0.333333,22.0
4,2000-01-05,ABC Evening News,ABC,7.333333,27.833333,7.333333,7.904192,0.0,0.000000,14.0

In [105]:
import pandas as pd
import numpy as np

TV_news = pd.read_csv("vandy_daily_pressure_2000_2025_colonnes_clean.csv")

# clean column names + parse date
TV_news.columns = TV_news.columns.str.strip()
TV_news["Date"] = pd.to_datetime(TV_news["Date"])

# agrégation à 1 ligne / date
TV_day = (
    TV_news
    .groupby("Date", as_index=False)
    .agg(
        daily_woi=("daily_woi", "median"),
        daily_woi_nc=("daily_woi_nc", "median"),
        daily_woi_c=("daily_woi_c", "median"),           # si tu l'utilises
        any_conflict_news=("any_conflict_news", "max"),
        length_conflict_news=("length_conflict_news", "sum"),
        num_conflict_news=("num_conflict_news", "sum"),
        all_nonconf_min=("all_nonconf_min", "median"),  # optionnel
    )
)

TV_day.head()

TV_day.shape
#TV_day["Date"].min(), TV_day["Date"].max()
full_dates = pd.date_range(
    start=TV_day["Date"].min(),
    end=TV_day["Date"].max(),
    freq="D"
)
missing_dates = full_dates.difference(TV_day["Date"])
len(missing_dates)
pd.DataFrame({"Date": missing_dates}).head(20)

         Date
0  2000-01-08
1  2000-01-29
2  2000-02-01
3  2000-02-02
4  2000-02-03
5  2000-02-04
6  2000-02-05
7  2000-02-06
8  2000-02-07
9  2000-02-08
10 2000-02-09
11 2000-02-10
12 2000-02-11
13 2000-02-12
14 2000-02-13
15 2000-02-14
16 2000-02-15
17 2000-02-16
18 2000-02-17
19 2000-02-18

In [106]:
#import data on major events
lead_maj_events = pd.read_csv("data_clean/major_events_dummy_2000_2019.csv")
lead_maj_events.head()

         Date  major_political_event  fifa_event  lead_maj_events
0  2000-01-01                      0           0                0
1  2000-01-02                      0           0                0
2  2000-01-03                      0           0                0
3  2000-01-04                      0           0                0
4  2000-01-05                      0           0                0

In [107]:
#import data on disaster event
lead_disasters = pd.read_csv("data_clean/disaster_daily_2000_2019.csv")
lead_disasters.head()

         Date  lead_disaster
0  2000-01-01              0
1  2000-01-02              0
2  2000-01-03              0
3  2000-01-04              0
4  2000-01-05              0

In [108]:
#import data on google searches 
conflict_searches = pd.read_csv("google_searches_2000_2020.csv")
#note: ce dataset comment en 2004
conflict_searches = conflict_searches.rename(columns={"date_R": "Date"})
conflict_searches.head()

         Date  conflict_searches_R
0  2000-09-29                  NaN
1  2000-09-30                  NaN
2  2000-10-01                  NaN
3  2000-10-02                  NaN
4  2000-10-03                  NaN

In [109]:
#merge tout ensemble
datasets = [
    conflict_searches,
    lead_disasters,
    lead_maj_events,
    TV_day,
    Bteselem_0019
]

for df in datasets:
    df.columns = df.columns.str.strip()
    df["Date"] = pd.to_datetime(df["Date"])

df.head()
print(df.columns)

Index(['Date', 'victims_isr', 'occurrence', 'victims_pal', 'occurrence_pal',
       'lnvic', 'lnvic_pal', 'lnvic_t_y', 'lnvic_pal_y', 'occurrence_t_y',
       'occurrence_pal_t_y', 'occurrence_1', 'occurrence_2_7',
       'occurrence_8_14', 'occurrence_pal_1', 'occurrence_pal_2_7',
       'occurrence_pal_8_14', 'high_intensity'],
      dtype='object')

In [110]:
#include the month, year, dow, monthyear variables 

df["month"] = df["Date"].dt.month.astype("float32")
df["year"] = df["Date"].dt.year.astype("float32")
df["dow"] = (
    df["Date"]
    .dt.day_name()
    .astype("category")
)
dow_order = [
    "Sunday", "Monday", "Tuesday", "Wednesday",
    "Thursday", "Friday", "Saturday"
]

df["dow"] = pd.Categorical(
    df["dow"],
    categories=dow_order,
    ordered=True
)
df["monthyear"] = (
    df["Date"]
    .dt.to_period("M")
    .astype(str)
)

df["month"].head(15)
df["year"].head(15)
df["dow"].head(15)

df.columns

Index(['Date', 'victims_isr', 'occurrence', 'victims_pal', 'occurrence_pal',
       'lnvic', 'lnvic_pal', 'lnvic_t_y', 'lnvic_pal_y', 'occurrence_t_y',
       'occurrence_pal_t_y', 'occurrence_1', 'occurrence_2_7',
       'occurrence_8_14', 'occurrence_pal_1', 'occurrence_pal_2_7',
       'occurrence_pal_8_14', 'high_intensity', 'month', 'year', 'dow',
       'monthyear'],
      dtype='object')

In [114]:
import pandas as pd

# 1) Standardize column names + Date dtype
def prep(df):
    df = df.copy()
    df.columns = df.columns.str.strip()
    df["Date"] = pd.to_datetime(df["Date"])
    return df

conflict_searches = prep(conflict_searches).rename(columns={"conflict_searches_R": "conflict_searches"})
lead_disasters    = prep(lead_disasters).rename(columns={"lead_disaster_R": "lead_disaster"})
lead_maj_events   = prep(lead_maj_events).rename(columns={"lead_maj_events_R": "lead_maj_events"})
TV_day            = prep(TV_day)
Bteselem_0019     = prep(Bteselem_0019)

# 2) (IMPORTANT) Ensure each is 1 row per Date
def assert_unique_date(df, name):
    if not df["Date"].is_unique:
        dup = df[df["Date"].duplicated(keep=False)].sort_values("Date")
        raise ValueError(f"{name} has duplicate dates. Example:\n{dup.head(10)}")

assert_unique_date(conflict_searches, "conflict_searches")
assert_unique_date(lead_disasters, "lead_disasters")
assert_unique_date(lead_maj_events, "lead_maj_events")
assert_unique_date(TV_day, "TV_day")
assert_unique_date(Bteselem_0019, "Bteselem_0019")

# 3) Merge (base = Bteselem)
df_master = (
    Bteselem_0019
    .merge(TV_day, on="Date", how="left")
    .merge(conflict_searches, on="Date", how="left")
    .merge(lead_maj_events, on="Date", how="left")
    .merge(lead_disasters, on="Date", how="left")
)

# 4) Add time vars at the end (as you wanted)
df_master["month"] = df_master["Date"].dt.month.astype("float32")
df_master["year"]  = df_master["Date"].dt.year.astype("float32")

df_master["dow"] = df_master["Date"].dt.day_name()
dow_order = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
df_master["dow"] = pd.Categorical(df_master["dow"], categories=dow_order, ordered=True)

df_master["monthyear"] = df_master["Date"].dt.to_period("M").astype(str)

df_master.columns
df_master.head()

df_master.columns

#create dataset file
df_master.to_csv("data_clean/full_dataset_cleaned.csv", index=False)
pd.read_csv("data_clean/full_dataset_cleaned.csv").head()

,Date,victims_isr,occurrence,victims_pal,occurrence_pal,lnvic,lnvic_pal,lnvic_t_y,lnvic_pal_y,occurrence_t_y,...,daily_woi_c,any_conflict_news,length_conflict_news,num_conflict_news,all_nonconf_min,conflict_searches,major_political_event,fifa_event,lead_maj_events,lead_disaster
0,2000-09-29,5.0,1.0,1.0,1.0,1.791759,0.693147,1.791759,0.693147,1,...,7.268744,1.0,4.000000,38.0,26.166667,NaN,0.0,0.0,0.0,0.0
1,2000-09-30,11.0,1.0,0.0,0.0,2.484907,0.000000,2.833213,0.693147,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,2000-10-01,9.0,1.0,1.0,1.0,2.302585,0.693147,3.044522,0.693147,1,...,6.642857,1.0,5.166667,21.0,23.333333,NaN,0.0,0.0,0.0,0.0
3,2000-10-02,11.0,1.0,2.0,1.0,2.484907,1.098612,3.044522,1.386294,1,...,7.019608,1.0,5.833333,34.0,25.666667,NaN,0.0,0.0,0.0,0.0
4,2000-10-03,6.0,1.0,0.0,0.0,1.945910,0.000000,2.890372,1.098612,1,...,8.453676,1.0,2.166667,41.0,27.250000,NaN,0.0,0.0,0.0,0.0